@model ZeroApp1.Models.student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userid1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genderlist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genderlist)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
